<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	profile="webtest">


	<bean id="webDriverScreenshotOnFailure" class="org.jbehave.web.selenium.WebDriverScreenshotOnFailure">
		<constructor-arg ref="webDriverProvider" />
	</bean>

	<bean id="lifecycleCleanupSession" class="itelli.webtests.lifecycle.CleanupSession">
		<property name="webDriverProvider" ref="webDriverProvider" />
		<property name="contextInformationProvider" ref="contextInformationProvider" />
		<property name="webTestsConfiguration" ref="webTestConfiguration" />
	</bean>


</beans>
