<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- # AbstractSteps Interface to ContextBase # -->
	<bean id="abstractSteps" class="itelli.webtests.steps.AbstractSteps" abstract="true">
		<property name="contextBase" ref="contextBase" />
		<property name="systemHelper" ref="systemHelper" />
	</bean>


	<!-- # Application Layer # -->
	
	<!-- CMS -->
	<!-- <bean id="contentCommonSteps" class="itelli.webtests.steps.application.cms.ContentCommonSteps" parent="abstractSteps"/>-->
	
	<!-- eCommerce -->
	<!-- <bean id="commerceAttributeSteps" class="itelli.webtests.steps.application.ecommerce.CommerceAttributeSteps" parent="abstractSteps"/>-->
	
	<!-- Integration -->
	<bean id="searchSteps" class="itelli.webtests.steps.application.integration.SearchSteps" parent="abstractSteps"/>
	
	
	
	<!-- # Customer Layer # -->
	
	<!-- Itelli Actions-->
	<bean id="BasketSteps" class="itelli.webtests.steps.customer.itelli.d2c.actions.BasketSteps" parent="abstractSteps" />
	<bean id="ClickSteps" class="itelli.webtests.steps.customer.itelli.d2c.actions.ClickSteps" parent="abstractSteps" />
	<bean id="ProductExecuterSteps" class="itelli.webtests.steps.customer.itelli.d2c.actions.ProductExecuterSteps" parent="abstractSteps" />
	
	<!-- BSH Checks -->
	<bean id="FormContentSteps" class="itelli.webtests.steps.customer.itelli.d2c.checks.FormContentSteps" parent="abstractSteps" />
	<bean id="ElementSteps" class="itelli.webtests.steps.customer.itelli.d2c.checks.ElementSteps" parent="abstractSteps" />
	<bean id="ProductInformationSteps" class="itelli.webtests.steps.customer.itelli.d2c.checks.ProductInformationSteps" parent="abstractSteps" />
	<bean id="ValidationSteps" class="itelli.webtests.steps.customer.itelli.d2c.checks.ValidationSteps" parent="abstractSteps" />
	<bean id="ContentSteps" class="itelli.webtests.steps.customer.itelli.d2c.checks.ContentSteps" parent="abstractSteps" />
		
	<!-- BSH Features -->
	<bean id="NavigationBarSteps" class="itelli.webtests.steps.customer.itelli.d2c.features.NavigationBarSteps" parent="abstractSteps" />
	<bean id="TypePlateFinderSteps" class="itelli.webtests.steps.customer.itelli.d2c.features.TypePlateFinderSteps" parent="abstractSteps" />
	
	<!-- BSH Form Steps -->
	<bean id="FormSteps" class="itelli.webtests.steps.customer.itelli.d2c.forms.FormSteps" parent="abstractSteps" />
		
	<!-- BSH Gaggenau -->
	<bean id="gaggenauCommonSteps" class="itelli.webtests.steps.customer.itelli.gaggenau.GaggenauCommonSteps" parent="abstractSteps" />
	
	<!-- BSH System -->
	<bean id="AttributeSteps" class="itelli.webtests.steps.customer.itelli.system.AttributeSteps" parent="abstractSteps" />
	<bean id="ContextSetupSteps" class="itelli.webtests.steps.customer.itelli.system.ContextSetupSteps" parent="abstractSteps" />
	<bean id="LayoutSwitchSteps" class="itelli.webtests.steps.customer.itelli.system.LayoutSwitchSteps" parent="abstractSteps" />
	<bean id="PageSteps" class="itelli.webtests.steps.customer.itelli.system.PageSteps" parent="abstractSteps" />
	<bean id="SystemSteps" class="itelli.webtests.steps.customer.itelli.system.SystemSteps" parent="abstractSteps" />

	<!--  # Web Layer # -->
	
	<!-- Web Actions -->
	<bean id="clickWebSteps" class="itelli.webtests.steps.web.actions.ClickWebSteps" parent="abstractSteps" />
	<bean id="HoverWebSteps" class="itelli.webtests.steps.web.actions.HoverWebSteps" parent="abstractSteps" />
	
	<!-- Web Alerts -->
	<bean id="alertWebSteps" class="itelli.webtests.steps.web.alerts.AlertWebSteps" parent="abstractSteps" />
    <bean id="alertWebStepsExtended" class="itelli.webtests.steps.web.alerts.ExtendedDSL" parent="abstractSteps" />
	
	<!-- Web Elements -->
	<bean id="elementSteps" class="itelli.webtests.steps.web.elements.ElementSteps" parent="abstractSteps" />
	
	<!-- Web Form Handling -->
	<bean id="formWebSteps" class="itelli.webtests.steps.web.forms.FormWebSteps" parent="abstractSteps">
		<property name="webTestsConfiguration" ref="webTestConfiguration" />
	</bean>
	<bean id="formContentWebSteps" class="itelli.webtests.steps.web.forms.FormContentWebSteps" parent="abstractSteps" />
	
	<!-- Web System -->
	<bean id="urlWebSteps" class="itelli.webtests.steps.web.system.UrlWebSteps" parent="abstractSteps">
		<property name="webTestsConfiguration" ref="webTestConfiguration" />
	</bean>
	<bean id="systemWebSteps" class="itelli.webtests.steps.web.system.SystemWebSteps" parent="abstractSteps" />
	<bean id="networkSteps" class="itelli.webtests.steps.web.system.NetworkSteps" parent="abstractSteps">
		<property name="proxyProvider" ref="proxyProvider" />
	</bean>

	<bean id="testTrackStep" class="itelli.webtests.steps.web.actions.TestTrackStep" parent="abstractSteps" />

	<!-- Web System Tests -->
	<bean id="testFormSteps" class="itelli.webtests.steps.web.system.test.TestFormSteps" parent="abstractSteps" />

	<!-- Webservice Tests -->
	<bean id="webserviceFormSteps" class="itelli.webtests.steps.webservice.DemoWebserviceWebSteps" parent="abstractSteps" />
	
	<!-- Lumos Tests -->
	<bean id="lumosCommonSteps" class="itelli.webtests.steps.customer.itelli.lumos.LumosCommonSteps" parent="abstractSteps" />
	
	<!-- Cosmos Tests -->
	<bean id="cosmosCommonSteps" class="itelli.webtests.steps.customer.itelli.cosmos.CosmosCommonSteps" parent="abstractSteps" />
	
</beans>
